<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Core">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory src=".php">src/Core</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="coverage"/>
    </logging>
</phpunit>